<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog_detail</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

   
   
</head>
<body>
  <div class="navigation">
    <div class="navbar navbar-expand-md bg-light navbar-light">
        <nav class="container" >
          <a class="navbar-brand" href="#"><img src="{{url_for('static',filename = 'image/logo.png')}}" class="logo" alt=""></a>
          <div class="navbar-brand">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="./homepage">Trang Chủ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./topic">Group</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/dinhduong">Dinh Dưỡng Khoa Học</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="/detect">Phát Hiện Bệnh</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="./product">Sản phẩm</a>
              </li> 
              {%if username%}
                  <li class="nav-item">
                      <a class="nav-link" href="./logout">{{username}}</a>
                  </li>
                  {%else%}
                  <li class="nav-item">
                    <a class="nav-link" href="./login">Sign in</a>
                  </li> 
                  {%endif%}
            </ul>
          </div>  
        </nav>
    </div>
</div>   

    <div class="blog_detail">
      <div class="container">
        <div class="col-sm-12 col-lg-12">
    
          <div class="blog_detail_container">
            
            <div class="blog_show">
                
              <div class="blog_show_content">
                <div class="blog_show_title">
                  <br>
                  Một số loại bệnh hại trên cây cà chua thường gặp và biện pháp phòng trừ
                  <br>
                  <br>
                  1. Bệnh sương mai cà chua
                </div>
                <div class="blog_show_desc">
                  
                    1.1.Nguyên nhân
                    <br>
                    <br>
                    Bệnh do nấm Phytopthora infestans (Mont.) de Bary gây ra. Là loài nấm ký sinh chuyên tính. Bào tử mọc thành cụm, phân nhiều nhánh. Bọc động bào tử không màu, hình quả chanh.
                    <br>
                    <br>
                    1.2.Triệu chứng
                    <br>
                    <br>
                    Trên lá: Bệnh thường xuất hiện đầu tiên ở mép chóp lá tạo vết xám xanh nhạt sau đó lan rộng vào phiến lá. Phần giữa vết bệnh chuyển màu nâu đen và xung quanh vết bệnh thường có lớp cành bào tử màu trắng xốp bao phủ như một lớp mốc trắng như muối làm cho lá chết lụi nhanh chóng. Ở mặt dưới lá, vết bệnh có một lớp mốc trắng như sương (phân sinh bào tử). Bệnh nhẹ lá hơi bị cháy, bệnh nặng có thể làm toàn bộ phiến lá bị cháy khô.
                    
                     
                    <br>
                    Trên thân cành: Bị bệnh từng đoạn dài, vỏ và ruột thân lúc đầu màu nâu hoặc thâm đen, sau đó thối ướt màu nâu đen. Chỗ bị bệnh nhỏ tóp lại, có khi chỉ một phía thân bị thối. Khi ẩm ướt, trên vết bệnh có lớp nấm trắng như sương muối bao phủ, phía trên chỗ bị bệnh, lá héo dần; cành, thân bị bệnh dễ bị gãy gục làm tan cây xơ xác.
                    <br>
                    <br>
                    1.3.Cách hạn chế bệnh sương mai
                    <br>
                    <br>
                   
                        Hiện nay, bệnh sương mai vẫn chưa có cách nào để điều trị triệt để, bà con chỉ có thể phòng bệnh và chủ động chăm sóc vườn, giúp cây có sức đề kháng cao để chống chọi với bệnh.
                    <br>
                        Bà con dùng biện pháp sinh học để phòng bệnh cho cây bằng cách. Sử dụng chế phẩm Trichoderma ủ với phân chuồng hoai mục 7 – 10 ngày để bón lót. Đồng thời sử dụng kết hợp Vaccin và Siêu đồng để phòng bệnh trên thân, cành, lá, quả. Siêu đồng dùng để sát khuẩn, Vắc xin giúp kích kháng cây trồng, ngăn ngừa nấm bệnh lây lan. Bà con cho sử dụng hai lần cách nhau 5 ngày để phòng bệnh được hiệu quả nhất. Dùng thuốc theo nguyên tắc 4 đúng (đúng thuốc, đúng thời điểm, đúng nồng độ và liều lượng, đúng cách).
                    <br>
                        Vệ sinh vườn thường xuyên, thu gom và tiêu hủy tàn dư cây bị bệnh. Bón vôi, phân hữu cơ trước khi gieo trồng. Bón phân cân đối, tăng lượng bón phân kali và lân.
                    <br>
                        Vườn ươm phải là nơi đất cao ráo, sạch sẽ, thoát nước tốt. Không nên trồng cà chua gần ruộng khoai tây và không luân canh kế cận với khoai tây.
                    <br>
                        Thường xuyên kiểm tra vườn, nhằm phát hiện bệnh kịp thời để có hướng giải quyết.
                  
                  <div class="blog_show_img">
                   <img src="{{url_for('static',filename = 'image/benh-suong-mai-ca-chua-3.jpg')}}" >
                  </div>
                </div>

                <div class="blog_show_title">
                  <br>
                  <br>
                  2. Bệnh mốc đen lá

                </div>
               
                <div class="blog_show_desc">
                    2.1.Nguyên nhân: <br>
                    Bệnh do nấm Pseudocercospora fuligena (Roldan.) Deighton gây ra.
                    <br>
                    <br>
                    2.2.Triệu chứng
                    <br>
                    Vết bệnh lúc đầu mờ, lõm, sau lan rộng, mô bị bệnh chuyển thành màu hơi vàng xám. Nấm gây hại cả mặt trên và mặt dưới lá, lá bị bệnh nặng có thể rụng
                
                  Nấm mọc thành đám màu xám nhạt ở  dưới mặt lá. Trên lá non, vết bệnh lúc đầu nhỏ, sau tăng nhanh, xuất hiện quầng vàng ở xung quanh, mô bị bệnh ở mặt trên và mặt dưới lá đều bị chết. Vết bệnh lan rộng trên lá non, không bị giới hạn bởi gân lá, có thể làm rách lá
                  <br>
                  <br>
                  2.3.Cách phòng chống<br>
                  Sử dụng các nguyên liệu trồng cây lành mạnh từ các nguồn đã được chứng nhận. 
                  Thoát nước hiệu quả cho vườn vì điều kiện thừa nước gây áp lực cho cây có thể dẫn đến tình trạng nứt quả. 
                  Kiểm tra cây và vườn để phát hiện bất cứ dấu hiệu bệnh tật nào, đặc biệt là trong giai đoạn cây đang ra hoa. 
                  Bón phân hợp lý cho cây trồng để giúp cây tăng cường sức đề kháng tự nhiên. 
                  Thu thập tất cả các quả bị nhiễm bệnh và tiêu hủy chúng bằng cách đốt. 
                  Trông có vẻ lành mạnh nhưng những quả bị nhiễm vẫn có thể rụng xuống đất khi ta lắc nhẹ cây vào thời điểm thu hoạch. 
                  Loại bỏ các quả già và nhánh chết ra khỏi vườn. 
                  <div class="blog_show_img">
                      <img src="{{url_for('static',filename = 'image/images1318399_1.jpg')}}">
                  </div>
                </div>
                   
                   <div class="blog_show_title">
                     <br>
                     3. Bệnh héo vàng
                     <br>
                   </div>
                   <div class="blog_show_desc">
                    3.1Nguyên nhân
                    <br>
                    Bệnh do nấm Fusarium oxysporium  gây ra. Bào tử lớn hơi cong hình lưỡi liềm, có 3 – 5 vách ngăn, không màu hoặc vàng nhạt. Bào tử nhỏ hình ô van hoặc elíp.
                    <br>
                    <br>
                    3.2Triệu chứng
                    <br>
                    Cây con bị bệnh còi cọc, kém phát triển sau bị chết. Cây trưởng thành bị bệnh các lá phía dưới gốc thường biến vàng, ban đầu từ một lá chét của một bên cây, sau đó lan ra toàn cây, lá héo rũ, màu vàng, không bị rụng. Vết bệnh ở trên thân sát mặt đất hoặc cổ rễ màu nâu, vết bệnh lớn dần làm khô tóp cả đoan thân sát mặt đất, bộ rẽ kém phát triển, rễ bị thối dần. Khi trời ẩm, trên bề mặt vết bệnh có lớp màu hồng nhạt, chẻ dọc thân thấy mạch dẫn có màu nâu. Cây bị bệnh ban ngày héo, ban đêm phục hồi, cây sinh trưởng kém. Sau 1 tuần đến 1 tháng cây sẽ chết hoàn toàn.
                   </div>
                   <br>
                   3.3.Cách phòng bênh
                   <br>
                   Để hạn chế héo vàng hại cây cà chua cần đảm bảo thoát nước tốt trong mùa mưa. Chủ động hệ thống tưới tiêu, không tưới quá ẩm, trồng cây với mật độ phù hợp với từng giống.

 Có biện pháp kỹ thuật trồng và chăm sóc hợp lý. Cung cấp đầy đủ cân đối dinh dưỡng cho từng giai đoạn sinh trưởng và phát triển của cây trồng

Bón cân đối giữa đạm, lân, kali, tuyệt đối không bón thừa đạm. Đặc biệt bón phân chuồng được ủ với nấm Trichoderma.

Phun phòng định kỳ bằng Vaccin kết hợp Siêu đồng để diệt nấm đồng thời tăng sức đề kháng cho cây, giúp cây chống chọi tốt hơn với nấm bệnh.
                   <div class="blog_show_img">
                    <img src="{{url_for('static',filename = 'image/heo ru chet vang cay ca chua chuan.jpg')}}">
                   </div>
                   
              </div>       
            </div>
            </div>
      
          </div>
        </div>
      </div>
    













    <div class="location">
        <div class="container">
          
              <div class="footer__contact">
                <div class="body_footter">
                <div class="left">
                <p class="footer__contact-title">LIÊN HỆ VỚI CHÚNG TÔI</p>
                <ul class="footer__contact-list">
                  <li >
                    <a class="footer__contact-address"> Tầng 6, toà nhà 254 Nguyễn Văn Linh, P.Thạch Gián, Q. Thanh
                      Khê, Đà Nẵng</a>
                  </li>
                  <li >
                      <a class="footer__contact-phone">(07) 6672 3591 </a>
                    </li>
                    <li >
                      <a class="footer__contact-mail">
                        lekhoa657@gmail.com
                      </a>
                    </li>
                  </div>
                
                 <div class="right">
                <p class="footer__contact-title">THÔNG TIN</p>
                  <ul class="footer__shipping">
                    <li>
                      <a>Về chúng tôi</a>
                    </li>
                    <li>
                      <a>Điều khoản &amp; Điều kiện</a>
                    </li>
                    <li>
                      <a>Chính sách riêng tư</a>
                    </li>
                    
                  </ul>
                   </div>
                   <div class="center">
                    <p class="footer__contact-title">CHUYÊN MUC</p>
                    <ul class="footer__center">
                      <li>
                        <a>hỏi đáp</a>
                      </li>
                      <li>
                        <a class="khoa" href="">
                          <i class="fab fa-facebook"></i>
                        </a>
                      </li>
                      
                      
                    </ul>
                  
                   </div>
              </div>
                  <div class="col-sm-12 col-md-8">
                    <p class="footer__extend-text">
                      Copyright © Your Website 2022
                    </p>
                  </div>
                  <div className="col-sm-12 col-md-4">
                    <div className="footer__extend-img d-flex justify-content-end">
                      <img src={footer_extend} alt="" />
                    </div>
              </div>
              
                  
                </div>
              </div>  
              
             
          </div> 
    
</body>
</html>