<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrangTraiBacSiKhoa</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static',filename = 'assets/images/favicon.ico')}}" />

    <!-- CSS
    ============================================ -->

    <!-- Vendor CSS (Contain Bootstrap, Icon Fonts) -->
    <link rel="stylesheet" href="{{url_for('static',filename = 'assets/css/vendor/font-awesome.min.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename = 'assets/css/vendor/Pe-icon-7-stroke.css')}}" />

    <!-- Plugin CSS (Global Plugins Files) -->
    <link rel="stylesheet" href="{{url_for('static',filename = 'assets/css/plugins/animate.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'assets/css/plugins/jquery-ui.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'assets/css/plugins/swiper-bundle.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'assets/css/plugins/nice-select.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'assets/css/plugins/magnific-popup.min.css')}}" />

    <!-- Style CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename = 'assets/css/style.css')}}">
</head>

<body>
    <section class="navigation">
        <div class="navbar navbar-expand-md bg-light navbar-light">
            <nav class="container" >
              <a class="navbar-brand" href="#"><img src="{{url_for('static',filename = 'image/logo.png')}}" class="logo" alt=""></a>
              <div class="navbar-brand">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="./homepage">Trang Chủ</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./topic">Group</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./dinhduong">Dinh Dưỡng Khoa Học</a>
                  </li> 
                  <li class="nav-item">
                    <a class="nav-link" href="./detect">Phát Hiện Bệnh</a>
                  </li> 
                  <li class="nav-item">
                    <a class="nav-link" href="./product">Sản phẩm</a>
                  </li> 
                    {%if username%}
                  <li class="nav-item">
                      <a class="nav-link" >{{username}}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./logout" >Log Out</a>
                </li>
                  {%else%}
                  <li class="nav-item">
                    <a class="nav-link" href="./login">Sign in</a>
                  </li> 
                  {%endif%}
                </ul>
                  
            </nav>
        </div>
    </section>

    <main class="main-content">
            <div class="checkout-area section-space-y-axis-100">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="coupon-accordion">
                                <h3>Returning customer? <span id="showlogin">Click here to login</span></h3>
                                <div id="checkout-login" class="coupon-content">
                                    <div class="coupon-info">
                                        <p class="coupon-text mb-1">Quisque gravida turpis sit amet nulla posuere lacinia. Cras sed est
                                            sit amet ipsum luctus.</p>
                                        <form action="javascript:void(0)">
                                            <p class="form-row-first">
                                                <label class="mb-1">Username or email <span class="required">*</span></label>
                                                <input type="text">
                                            </p>
                                            <p class="form-row-last">
                                                <label>Password <span class="required">*</span></label>
                                                <input type="text">
                                            </p>
                                            <p class="form-row">
                                                <input type="checkbox" id="remember_me">
                                                <label for="remember_me">Remember me</label>
                                            </p>
                                            <p class="lost-password"><a href="javascript:void(0)">Lost your password?</a></p>
                                        </form>
                                    </div>
                                </div>
                                <h3>Have a coupon? <span id="showcoupon">Click here to enter your code</span></h3>
                                <div id="checkout_coupon" class="coupon-checkout-content">
                                    <div class="coupon-info">
                                        <form action="javascript:void(0)">
                                            <p class="checkout-coupon">
                                                <input placeholder="Coupon code" type="text">
                                                <input class="coupon-inner_btn" value="Apply Coupon" type="submit">
                                            </p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form method = "post">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                    <div class="checkbox-form">
                                        <h3>Thông Tin Hóa Đơn</h3>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="country-select clearfix">
                                                    <label>Tỉnh/Thành Phố <span class="required">*</span></label>
                                                    <select name = "city" class="myniceselect nice-select wide">
                                                        <option></option>
                                                        {%for city in cities%}
                                                            <option value="{{city.City}}">{{city.City}}</option>
                                                        {%endfor%}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="checkout-form-list">
                                                    <label>Họ và Tên <span class="required">*</span></label>
                                                    <input name = "fullname" placeholder="" type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="checkout-form-list">
                                                    <label>Địa Chỉ <span class="required">*</span></label>
                                                    <input name = "address" placeholder="Street address" type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="checkout-form-list">
                                                    <label>Email <span class="required">*</span></label>
                                                    <input name = "email" placeholder="" type="email">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="checkout-form-list">
                                                    <label>Số Điện Thoại <span class="required">*</span></label>
                                                    <input name ="phone" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="your-order">
                                    <h3>Giỏ Hàng</h3>
                                    <div class="your-order-table table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="cart-product-name">Product</th>
                                                    <th class="cart-product-total">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {%for item in items%}
                                                <tr class="cart_item">
                                                    <td class="cart-product-name">{{item.Product_Name}}<strong class="product-quantity">
                                                        × {{item.Quantity}}</strong></td>
                                                    <td class="cart-product-total"><span class="amount">${{item.Price*item.Quantity}}.00</span></td>
                                                </tr>
                                                {%endfor%}
                                            </tbody>
                                            <tfoot>
                                                {%if sum %}
                                                <tr class="cart-subtotal">
                                                    <th>Cart Subtotal</th>
                                                    <td><span class="amount">${{sum}}.00</span></td>
                                                </tr>
                                                <tr class="order-total">
                                                    <th>Order Total</th>
                                                    <td><strong><span class="amount">${{sum}}.00</span></strong></td>
                                                </tr>
                                                {%endif%}
                                            </tfoot>
                                        </table>
                                    </div>
                                    <div class="payment-method">
                                        <div class="payment-accordion">
                                            <div class="order-button-payment">
                                                <input type="submit">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                       
                        </div>
                    </form>
                </div>
            </div>
    </main>

    <div class="location">
        <div class="container">
          
              <div class="footer__contact">
                <div class="body_footter">
                <div class="left">
                <p class="footer__contact-title">LIÊN HỆ VỚI CHÚNG TÔI</p>
                <ul class="footer__contact-list">
                  <li >
                    <a class="footer__contact-address"> Tầng 6, toà nhà 254 Nguyễn Văn Linh, P.Thạch Gián, Q. Thanh
                      Khê, Đà Nẵng</a>
                  </li>
                  <li >
                      <a class="footer__contact-phone">(07) 6672 3591 </a>
                    </li>
                    <li >
                      <a class="footer__contact-mail">
                        lekhoa657@gmail.com
                      </a>
                    </li>
                  </div>
                
                 <div class="right">
                <p class="footer__contact-title">THÔNG TIN</p>
                  <ul class="footer__shipping">
                    <li>
                      <a>Về chúng tôi</a>
                    </li>
                    <li>
                      <a>Điều khoản &amp; Điều kiện</a>
                    </li>
                    <li>
                      <a>Chính sách riêng tư</a>
                    </li>
                    
                  </ul>
                   </div>
                   <div class="center">
                    <p class="footer__contact-title">CHUYÊN MUC</p>
                    <ul class="footer__center">
                      <li>
                        <a>Hỏi đáp</a>
                      </li>
                      <li>
                        <a class="bth-social" href="https://www.facebook.com/">
                          <i class="fab fa-facebook"></i>
                        </a>
                        <a class="bth-social" href="https://www.instagram.com/">
                          <i class="fab fa-instagram"></i>
                        </a>
                      </li>
                      
                      
                      
                    </ul>
                  
                   </div>
              </div>
                  <div class="col-sm-12 col-md-8">
                    <p class="footer__extend-text">
                      Copyright © Your Website 2022
                    </p>
                  </div>
                  <div className="col-sm-12 col-md-4">
                    <div className="footer__extend-img d-flex justify-content-end">
                      <img src={footer_extend} alt="" />
                    </div>
              </div>
              
                  
                </div>
              </div>  
              
             
    </div> 
</body>

</html>